/** Responsive + GRID */
.row::after { content: ""; clear: both; display: table; }
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
[class*="col-"] { float: left; padding: 15px; }

/** Utilities */
.hidden { display: none;}
.text-right { text-align: right;}
.text-left { text-align: left;}
.text-center { text-align: center;}
.fRight {float: right;}
.fLeft {float: left;}
.fNone {float: none;}
.m0 { margin: 0;}
.p0 { padding: 0;}
.m10 { margin: 10px;}
.mr10 { margin-right: 10px;}
.clearfix { overflow: auto; }
.clearfix::after { content: ""; clear: both; display: table; }


/** Layout */
body { background: url(../img/abstract_background_3-wallpaper-1920x1200.jpg) center center;}
header { padding: 10px; background-color: rgba(200, 200, 200, .9)}
.hamburger-menu { font-size: 28px; margin-right: 10px; text-decoration: none; color: #000; }
h1 { font-size: 28px;}
.subtitle { font-style: oblique; }


.randomize {
    cursor: pointer;
    color: #fff;
    border: 1px solid #d58512;
    border-radius: 4px;
    background-color: #ec971f;
    text-decoration: none;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
}

/** Footer */
.primary-footer {
    padding: 24px 0;
    color: #898989;
    font-size: 14px;
    text-align: center;
}

.explanation { width: 90%; margin: 10px auto; border: 1px solid #efefef; border-radius: 4px; font-size: 1.2em; padding: 5px; background-color: rgba(225, 225, 225, .9); }
.explanation ul li {  list-style: inside square; margin: 0 10px; }

footer {
    background-color: #ddd;
    border-top: 1px solid #ddd;
    position: fixed; bottom: 0; width: 100%;
}
footer #result { margin: 10px auto; font-size: 2em; font-style: italic; }
footer .stats { margin: 10px 0; }
footer .stats .stat { display: inline-block; margin: 0 10px; }
footer .stats .validTiles { color: green; }
footer .stats .invalidTiles { color: red; }
footer .stats .stat span { display: inline-block; background: #4393e6; color: #fff; border-radius: .5em; padding: 3px 10px; }


