
.tasks { border: 1px solid grey; margin: 20px; border-radius: 1em; overflow: hidden; }
.task { padding: 0 2em; background-color: #fefefe; }
.task.odd { background-color: #efefef; }
.task:hover { background-color: lightgray; }




